body{
	font-family:  'PT sans', sans-serif;
	background-color: #242423 ;
	margin: 0;
	color: #ffffff;
	line-height: 1.6;

}

a{
	text-decoration: none;
	color:#ccc;
}

#showcase{
	margin:  0;
	padding:  0;

}
#showcase .container{
	margin-top: 25vh;
}
#showcase h1{
	font-size: 4rem;
	margin-bottom: 0;
}
#showcase h2{
	font-size: 2rem;
}

nav{
	height: 40px;
	width: 100%;
	background-color: #333;
	color: rgb(51, 34, 34);

}
nav ul{
	margin: 0;
	padding: 0;
}
nav li{
	display: inline;
	float:  left;

}
nav a{
	display: inline-block;
	width:100px;
	text-align: center;
	text-decoration: none;
	padding: 10px 0;
	color: #eee;



}
nav li:hover{
	background-color: #444;
}
.container{
	max-width: 1180px;
	text-align: center;
	margin: 0 auto;
	padding:0 3rem;
}
.lead{
	font-size: 1.3rem;

}
footer .footer-cols{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(4, 1fr);
	padding:  2rem;
	text-align: left;
	font-size: 14px;

}
footer .footer-cols ul{
	list-style: none;


}
footer .footer-cols ul li:first-child{
	font-size: 1.2rem;
	padding-bottom: 0.5rem;
	border-bottom: #444 solid 1.5px;
	margin-bottom: 1rem;
}
footer ,footer-bottom{
	background-color: #333;
	padding:  1rem;
	text-align: center;

}
          